<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Driver JDBC -->
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <!-- URL de conexión -->
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/proyecto_dam
        </property>

        <!-- Credenciales -->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Dialecto -->
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <!-- Debug -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Crear / actualizar tablas -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- ENTIDADES -->
        <mapping class="com.yhon.dam.proyectodamnavidad.modelo.Usuario"/>

    </session-factory>
</hibernate-configuration>

